In [1]:
list1 = [1,22,33,44,55,66,77,88,99,1000]
for num in list1:
    print(num)

1
22
33
44
55
66
77
88
99
1000

In [2]:
for num in list1:
    if num % 11 == 0:
        print(num)

22
33
44
55
66
77
88
99

In [4]:
for num in list1:
    if num % 11 == 0:
        print(num)
    else:
        print('not divisible')

not divisible
22
33
44
55
66
77
88
99
not divisible

In [5]:
list_sum = 0 
for num in list1:
    list_sum = list_sum + num
print(list_sum)

1485

In [9]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [12]:
tuple = (1,2,3,4,5)
for n in tuple:
    print(n)

1
2
3
4
5

In [15]:
list2 = [(6,9),(9,6),(11,10)]
for tuple in list2:
    print(tuple)

(6, 9)
(9, 6)
(11, 10)

In [17]:
for (t1,t2) in list2:
    print(t1)

6
9
11

In [24]:
d = {'k1':69,'k2':69,'k3':69}
for x in d:
    print(x)

k1
k2
k3

In [25]:
d.items()

dict_items([('k1', 69), ('k2', 69), ('k3', 69)])

In [22]:
for apples,bananas in d.items():
    print(apples)
    print(bananas)

k1
1
k2
2
k3
3

In [26]:
list(d.keys())

['k1', 'k2', 'k3']

In [27]:
sorted(d.values())

[69, 69, 69]